<header class="header">



  <nav aria-labelledby="header-siteid" class="header--sitenav">
    <div class="header--sitenav__container">
      <a id="header-siteid" href="/">{{ meta.siteName }}</a>
      <ul class="header--sitenav__navlist">
        {%- for page in collections.pages -%}
        <li class="header--sitenav__navlist-item">
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>

</header>
